body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background-color: #f4f4f4;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.container {
  display: flex;
  flex-direction: column; /* Stack the input and output vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  padding: 20px;
}

/* Input Area */
#input-area {
  width: 100%;
  max-width: 400px; /* Adjust width */
  padding: 10px;
  margin: 20px 0;  /* Margin to separate input from output */
  display: block;
  font-size: 16px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  box-sizing: border-box;
}

/* Output Area */
#output-area {
  width: 100%;
  max-width: 400px; /* Adjust width */
  padding: 10px;
  margin: 20px 0; /* Margin to separate output from input */
  display: block;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  text-align: left;  /* Ensure text is left-aligned */
  height: 50px; /* Adjust the height if needed */
  overflow: hidden; /* Hide excess content */
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Buttons in the container */
.button-container button {
  width: 100%; /* Full-width buttons */
  margin: 5px 0;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  cursor: pointer;
}

/* Button hover effect */
.button-container button:hover {
  background-color: #ddd;
}

/* Success Indicator styling */
#success-indicator {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  display: none; 
}

.form-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #333;
}
