<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENGINUITY - GRAPH</title>
    <link rel="stylesheet" href="../static/css/graphStyle.css" />
  </head>
  <body>
    <header>
      <img
        src="../static/images/icon.png"
        alt="Enginuity Logo"
        class="header-logo"
      />
      <h1><b>Enginuity: Crafting Tomorrow with the Genius of Today</b></h1>
      <nav>
        <button onclick="document.location='/#home'">Home</button>
        <button onclick="document.location='/#about-us'">About Us</button>
        <button onclick="document.location='/#works'">Works</button>
      </nav>
    </header>

  </body>
</html>