<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENGINUITY - LINKED LIST</title>
    <link rel="stylesheet" href="../static/css/linkedListStyle.css" />
    <link rel="stylesheet" href="../static/css/StackStyle.css" />
  </head>
  <body>
    <header>
      <img
        src="../static/images/icon.png"
        alt="Enginuity Logo"
        class="header-logo"
      />
      <h1><b>Enginuity: Crafting Tomorrow with the Genius of Today</b></h1>
      <nav>
        <button onclick="document.location='/#home'">Home</button>
        <button onclick="document.location='/#about-us'">About Us</button>
        <button onclick="document.location='/#works'">Works</button>
      </nav>
    </header>

    <div class="flex-container">
      <section class="input-section">
        <form action="/stack" method="post">
          <textarea
            id="input-area"
            name="input"
            placeholder="Enter your infix equation here..."
          >{{user_input}}</textarea>
          <div class="button-container">
            <button
              type="submit"
              name="action"
              value="convert"
              id="convert-btn"
              class="btn btn-success full-width"
            >
              Convert to Postfix Equation
            </button>
          </div>
        </form>
      </section>
      <section class="output-section">
        <pre id="output-area" class="output-area">
          {% if steps %}{{ steps | safe }}{% else %}Output will appear here...{% endif %}
        </pre>
      </section>
    </div>
    
  </body>
</html>